<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<% if @user.picture? %>
      		<%= image_tag @user.picture.url if @user.picture? %>
    		<% else %>
      		<%= gravatar_for @user %>
      		<a href="http://gravatar.com/emails" target="_blank">Change Gravatar Image</a>
    		<% end %>
				<%= @user.name %>
				<br>
				<%= @user.email %>
			</h1>
		</section>
	</aside>
</div>
