<% provide(:title, "Edit Books") %>
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> Edit Books</title>
</head>
<body>

<!-- % @page_title = "Edit Book" % -->
<%= link_to("Home", {:controller => 'home', :action => 'index'}) %>

<br>
<br>
<h2>Edit Book</h2>

<%= form_for(:book, :url => {:action => 'update', :id => @book.id}) do |f| %>
	<%= render(:partial => "form", :locals => {:f => f}) %>
<% end %>
</body>
</html>
